<div class='ui vertical segment non-masthead'>
  <div class='ui inverted red-accent text container segment'>
    <h2 class='ui header'>Tell us about you...</h2>
    <%= form_for @subscriber, html: { class: 'ui inverted form' } do |f| %>
      <div class='field'>
        <label class='ui red'>Name</label>
        <div class='two fields'>
          <div class='field'>
            <%= f.text_field :first_name, placeholder: 'First Name' %>
          </div>
          <div class='field'>
            <%= f.text_field :last_name, placeholder: 'Last Name' %>
          </div>
        </div>
      </div>
      <div class='field'>
        <div class='two fields'>
          <div class='field'>
            <label class='ui red'>Email</label>
            <%= f.text_field :email, placeholder: 'email@example.com' %>
          </div>
          <div class='field'>
            <label class='ui red'>Phone</label>
            <%= f.text_field :phone, placeholder: '321-555-1234' %>
          </div>
        </div>
      </div>
      <% if @subscriber.type == 'Player' %> 
        <div class='field'>
          <label class='ui red'>Sponsors Name</label>
          <%= f.text_field :sponsors_name, placeholder: 'Who sponsored you?' %>
        </div>
        <div class='field'>
          <div class='two fields'>
            <div class='field'>
              <label class='ui red'>Gamer Tag</label>
              <%= f.text_field :gamer_tag, placeholder: 'Preferred Gamer Tag' %>
            </div>
            <div class='field'>
              <label class='ui red'>Gamer Prefix</label>
              <%= f.text_field :gamer_prefix, placeholder: 'Preferred Gamer Prefix' %>
            </div>
          </div>
        </div>
      <% end %>
      <div class='field'>
        <label class='ui red'>Location</label>
        <div class='two fields'>
          <div class='field'>
            <%= f.select :region, Region.all, { include_blank: 'Select State' }, { class: 'ui fluid dropdown' } %>
          </div>
          <div class='field'>
            <%= f.text_field :country, placeholder: 'Your Country' %>
          </div>
        </div>
        <% if @subscriber.type == 'Player' %> 
          <div class='ui inverted segment'>
            <div class='field'>
              <div class='ui toggle checkbox'>
                <%= f.check_box :sponsored, class: 'hidden' %>
                <label>I'm a sponsored gamer</label>
              </div>
            </div>
          </div>
        <% end %>
        <div class='ui right-aligned'>
          <%= button_tag type: :submit, class: 'ui red button' do %>
            <i class='check circle icon'></i> Submit
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>



<style>
  .ui.non-masthead.vertical.segment {
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    padding-top: 150px;
    background-attachment: fixed;
    padding-bottom: 150px;
  }

  .ui.non-masthead.vertical.segment .ui.inverted.red-accent.text.container.segment {
    max-width: 600px !important;
  }

  @media only screen and (max-width: 700px) {
    .ui.non-masthead.vertical.segment {
      padding-top: 120px;
    }
  }

  .ui.right-aligned {
    text-align: right;
  }

  .ui.inverted.form input[type='text'], .ui.selection.dropdown {
    background-color: #525252;
    color: #FFF;
  }

  .ui.inverted.form .field label.ui.red {
    color: #DB2828 !important;;
  }

  .ui.toggle.checkbox input ~ .box:before, .ui.toggle.checkbox input ~ label:before {
    background-color: #525252 !important;
  }

  .ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
    background-color: #DB2828 !important;
  }

  .ui.toggle.checkbox input:checked ~ .box, .ui.toggle.checkbox input:checked ~ label {
    color: #DB2828 !important;
  }
</style>
