<div class='ui inverted segment main-header'>
  <div class='ui container'>
    <div class='ui top inverted secondary pointing menu'>
      <div class='item' style='padding:0px; margin-right:10px;'>
        <%= image_tag 'https://s3.amazonaws.com/edge-guard/images/edge-guard-games-logo.png' %>
      </div>
      <%= link_to 'EDGE GUARD', root_path, class: 'header active item' %>
      <div class='right menu'>
        <%= link_to 'Schedule', schedule_path, class: 'item' %>
        <a class='toc item'><i class='sidebar icon'></i> Menu</a>
        <div class='ui dropdown item'>
          FAQ <i class='dropdown icon'></i>
          <div class='menu'>
            <%= link_to 'All', faq_path, class: 'item' %>
            <%= link_to 'Hotel Info', faq_path + '#hotel', class: 'item' %>
            <%= link_to 'Venue Info', faq_path + '#venue', class: 'item' %>
          </div>
        </div>
        <div class='item'>
          <%= link_to register_path, class: 'ui red button' do %>
            <i class='user icon'></i> Register
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .segment.main-header { 
    border-radius: 0;
    margin-bottom: 0px; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .right.menu .toc.item { display: none; }

  @media only screen and (max-width: 700px) {
    .main-header .secondary.menu .right.menu .item:not(.toc) {
      display: none;
    }
    .main-header .secondary.menu .right.menu .item.toc {
      display: block;
    }
  }

  .secondary.pointing.menu .active.item {
    border-color: #DB2828 !important;
  }

  .ui.logo.icon.image {
    width: 35px;
    margin-right: 1em;
  }
</style>
