<div class='ui vertical inverted sidebar menu pointing right'>
  <div class='item'>
    <%= link_to root_path, class: 'ui logo icon image' do %>
      <img src='https://upload.wikimedia.org/wikipedia/commons/6/6b/Indy_PopCon_Red_Square_Logo.png'>
    <% end %>
    <%= link_to content_tag(:b, 'EDGE GUARD'), root_path %>
  </div>
  <a class='item'>Schedule</a>
  <a class='item'>Artist Alley</a>
  <div class='item'>
    FAQ
    <div class='menu'>
      <%= link_to 'All', faq_path, class: 'item' %>
      <%= link_to 'Hotel Info', faq_path + '#hotel', class: 'item' %>
      <%= link_to 'Venue Info', faq_path + '#venue', class: 'item' %>
    </div>
  </div>
  <div class='item'>
    <%= link_to register_path, class: 'fluid ui red button' do %>
      <i class='user icon'></i> Register
    <% end %>
  </div>
</div>
