<!DOCTYPE html>
<html lang='en' prefix='og: http://ogp.me/ns# website: http://ogp.me/ns/website#'>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <%= content_for :head %>
    <%= favicon_link_tag       'https://s3.amazonaws.com/edge-guard/images/edge-guard-games-logo.ico' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag    'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body class='pushable'>
    <%= render 'layouts/sidebar' %>
    <div class='pusher'>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

    <% render 'layouts/google_analytics' %>
    <%= yield :below_the_fold %>
  </body>
</html>
